<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
</head>

<body>
    <div id='app'>
        <input type="text" v-model="num1" />
        <input type="text" v-model="num2" />
        {{sum}}
    </div>
    <script src='./Vue.js'></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                num1: 1,
                num2: 1
            },
            methods: {},
            // 计算属性的位置
            computed: {
                sum() {
                    return parseFloat(this.num1)+parseFloat(this.num2)
                }
            }
        })
    </script>
</body>

</html>